<div class="row header header-height" >
  <div class="col l3 hide-on-med-and-down header-height">
  </div>
  <div class="col s12 l6 center-align header-height hide-on-small-only" >
    <img class="logo" src="assets/Logo.png">
  </div>
  <div class="col s12 center-align header-height hide-on-med-and-up" >
      <img class="logo" src="assets/Logo-Small.png">
    </div>
  <div class="col l3 hide-on-med-and-down header-height">
      <a href="http://www.burleysummerfestival.org/"><img src="assets/bsf.jpg" height="200px" align="right"></a>
  </div>