<div class="row center-align custom-card">
  <div class="col s12 title">
    Useful Links
  </div>
  <br />
  <div class="col s12 information">
    <div class="col s12">
      <a class="col offset-s2 s8 link"  href="http://www.burleysummerfestival.org/" target="_blank">
        Burley Summer Festival
      </a>
      <a class="col offset-s2 s8 link" href="https://www.facebook.com/burleyfestival/" target="_blank">
        Facebook
      </a>
      <a class="col offset-s2 s8 link" href="https://twitter.com/burleyfestival" target="_blank">
        Twitter
      </a>
      <a class="col offset-s2 s8 link" href="https://www.instagram.com/burleysummerfestival/" target="_blank">
        Instagram
      </a>
      <a class="col offset-s2 s8 link" href="mailto:burleydogshow@gmail.com">
        Email us
      </a>
    </div>
  </div>
</div>