<div class="row center-align custom-card">
  <div class="col s12 title">
    What's On?
  </div>
  <br />
  <div class="col s12 information">
    Here at Dog Show HQ we have one aim in mind, to bring you a dog show that’s full of fun and a day
    the whole family can enjoy. If you have a dog, come and join in one of the many games and classes.
    If you don’t, come along anyway, there’s plenty for you to enjoy.
    <br />
    To ensure you don't miss a thing, please check the <a routerLink="/schedule">Schedule.</a>
    <br />
    <div class="information-title">
      Classes
    </div>
    Why not enter your furry friend in a class and prove they are the best in the village?
    This year we will be running a number of different classes through the day.
    Each class is £1.50 per entry, with rosettes and prizes awarded up to 4th place.
    Check the <a routerLink="/schedule">Schedule</a> for more information.
    <div class="information-title">
      Internationale Prüfungs-Ordnung
    </div>
    New this year we have an exciting demonstration in the sport of Internationale Prüfungs-Ordnung (IPO), formally
    known as Schutzhund. IPO is challenging 3-part sport originally designed
    as a breed test for German Shepherd dogs to ensure they retained the genetic traits for tracking, obedience and
    protection. Today it is used as a sport where many
    breeds other than German Shepherd dogs can compete, but it is an extremely demanding test for any dog.
    <br />
    <div class="information-title">
      Heads and Tails Guide Dogs Fund Raiser
    </div>
    Join us for a fun game of heads and tails in the main ring to raise some funds for The Guide Dogs for the
    Blind Association.
    <div class="information-title">
      Fun and Games
    </div>
    We have the agility ring back this year! Why not have-a-go and see just how agile your dog is?
    There will also be spontaneous games inside the main ring scattered throughout the day.
  </div>
</div>