<div class="row center-align custom-card">
  <div class="col s12 title">
    Where To Find Us
  </div>
  <br />
  <div class="col s12 information">
    The recreation ground can be accessed by foot from Iron Row or York Road. Please respect the local residents and
    avoid parking on Iron Row. There is plenty of parking around the village.
    <br />
    Disabled parking is available on the recreation ground, with access via Iron Row.
  </div>
  <div class="col s12 m6 information offset-m3">
    <iframe width='350px' height='350px' id='mapcanvas'
      src='https://maps.google.com/maps?q=53.9141374,-1.745838&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
      frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
      <div class="zxos8_gm"><a href="https://themesort.com/category/agency-themes">Agency templates at themesort</a>
      </div>
      <div style='overflow:hidden;'>
        <div id='gmap_canvas' style='height:350px;width:350px;'></div>
      </div>
      <div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div>
    </iframe>
  </div>
  <br />
</div>