<div class="row center-align custom-card">
  <div class="col s12 title">
    Where To Find Us
  </div>
  <br />
  <div class="col s12 information">
    The recreation ground can be accessed by foot from Iron Row or York Road. Please respect the local residents and
    avoid parking on Iron Row. There is plenty of parking around the village.
    <br />
    Disabled parking is available on the recreation ground, with access via Iron Row.
  </div>
  <div class="col s12 information">
      <div class="google-maps">
          <iframe src="https://maps.google.com/maps?q=53.9141374,-1.745838&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0"></iframe>
      </div>
  </div>
  <br />
</div>

