<div class="row center-align">
  <div class="col s12 m6">
    <div class="secondary-title">
      Where to find us
    </div>
    <div class="information">
      The recreational ground can be access by foot from Iron Row or York Road. Disabled parking is provided.
    </div>
  </div>
  <div class="col s12 m6">
    <iframe width='350px' height='350px' id='mapcanvas'
      src='https://maps.google.com/maps?q=53.9141374,-1.745838&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
      frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
      <div class="zxos8_gm"><a href="https://themesort.com/category/agency-themes">Agency templates at themesort</a>
      </div>
      <div style='overflow:hidden;'>
        <div id='gmap_canvas' style='height:350px;width:350px;'></div>
      </div>
      <div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div>
    </iframe>
  </div>
</div>