<div class="row center-align custom-card">
    <div class="col s12 title">
      Charities and Stalls
    </div>
    <br />
    <div class="col s12 information" style="padding: 20px;margin-bottom:20px;">
        This year we are pleased to have back many familiar faces: The Dog Physio, Kozi Dog, Stefs Pet Pantry, Friends
        of Baxter, Animals Asia,
        Linbee Dog Rehoming, Miss Mollies Dog Rescue and The Fairy Dog Mother.
        <br />
        We are also excited to be welcoming: Holly House Vets, Springbank Dog Collars

        <br />
        Why not grab some food whilst visiting the stalls? The Joy of Cake will be selling deliciously tempting
        treats, or get a tasty burger from the barbecue run by the Red Lion.
        Teas, coffee's and ice cream available on the day.

        <br />
        On the day we will be holding a raffle in support of the Guide Dogs for the blind.
        <br />

        Come and show your support.


        <br />

        Sponsors - the ryhddings
    </div>
  </div>
 