<div class="row center-align custom-card">
  <div class="col s12 title">
    Charities and Stalls
  </div>
  <br />
  <div class="col s12 information">
    This year we are pleased to have back many familiar faces and also excited to be welcoming some new ones.
    Please browse the list below to see who is already confirmed. You can find out more about them by following the
    link to their pages.
    <br />
    On top of these great stalls, there will be refreshments and ice creams available on the day, along with a barbecue
    organised by the Red Lion.
    <div class="col s12">
      <ng-container *ngFor="let stallLink of stallLinks">
        <a class="col offset-s2 s8 info-Link" *ngIf="!stallLink.url">
          {{stallLink.title}}
        </a>
        <a class="col offset-s2 s8 info-Link" *ngIf="stallLink.url" href="{{stallLink.url}}" target="_blank">
          {{stallLink.title}}
        </a>
      </ng-container>
    </div>
  </div>
</div>