.dog-logo {
    position: fixed;
    bottom: 0em;
    right: 4em;
    z-index: 1;
}

.custom-container{
    padding-right: 16em;
    padding-top: 4em;
    padding-left: 2em;
}

.grass{
    height: 5em;
    width: 100%;
    background-image: url('../assets/grass.png');
    background-size: auto 5em;
    background-repeat: repeat-x; 
    position: fixed;
    bottom: 0;
    left: 0;
}