<div class="row center-align">
    <div class="col s12 secondary-title">
        Schedule
      </div>
  <div class="container">
    Below is a 'ruff' time table of the day. Times my vary.
    <div class="col s12">
      <div class="card-panel custom-card z-depth-2">
        <table class="centered table-font">
          <thead>
            <tr>
              <th>Start</th>
              <th>Finish</th>
              <th>Activity</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of scheduleRows" [ngClass]="row.cssClass">
              <td>{{row.start}}</td>
              <td>{{row.finish}}</td>
              <td>{{row.activity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>