<div class="row center-align">

  <div class="col s12 secondary-title">
    Dog Show
  </div>

  <div class="container">
    <div class="col s12">
      <div class="card-panel custom-card z-depth-2">
        <span class="card-content information">
          Here at Dog Show HQ we have one aim in mind, to bring you a dog show that’s full of fun and a programme
          the whole family can enjoy. If you have a dog, come and join in one of the many games and classes.
          If you don’t, come along anyway, there’s plenty for you to watch, buy, and take part in too.
        </span>
      </div>
      <div class="card-panel custom-card z-depth-2">
        <span class="card-content information">
          <span class="information-title">What's on?</span>
          <br />
          ​The Tailwagger Club Dog Display Team is based in Leeds and Harrogate.
          Such is their brilliance, this team of dedicated volunteers and
          their canine companions are asked to perform all over the UK.
          We’re delighted they accepted our offer to come and perform for you today.
          The display sees musical sequences incorporating pet dog obedience and tricks to entertain the
          public and is great fun for the dogs too! Don’t forget to look out for the Boneyard Choir!
        </span>
      </div>
      <div class="card-panel custom-card z-depth-2">
        <span class="card-content information">
          <span class="information-title">Charities</span>
          <br />
          We are pleased to welcome back Guide Dogs for the Blind,
          Linbee Dog Rehoming and Miss Mollies Dog Rescue. Come and show your support for these amazing charities.
        </span>
      </div>
      <div class="card-panel custom-card z-depth-2">
        <span class="card-content information">
          <span class="information-title">Useful Links</span>
          <br />
          <a href="http://www.burleysummerfestival.org/" target="_blank">The Burley Summer Festival Website</a>
          <br />
          <a href="https://www.facebook.com/burleyfestival/" target="_blank"> <i class="fa fa-facebook-square"></i>
            Facebook</a>
          <br />
          <a href="https://twitter.com/burleyfestival" target="_blank"> <i class="fa fa-twitter-square"></i> Twitter</a>
        </span>
      </div>
    </div>
  </div>
</div>