.nav-header{
    color: #fff;
    font-family: Indie Flower;
}

.nav-bar{
    background-color: #F5832C;
    margin-bottom: 2em;
}

.link-text{
    background-color: #F5832C;
    color: #fff;
    font-family: Open Sans;
    &:hover {
        background-color: #ffb141;
      }
   
}
.link-text.active{
    background-color: #896b90;
}

.nav-margin{
    margin-bottom: 1em;
}