<nav class="custom-nav">
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down nav-left">
      <li class="nav-logo"><a routerLink="/home" routerLinkActive="active" class="social-media"> <i
            class="fa fa-bone"></i></a></li>
      <li> <a class="main-nav-text" routerLink="/whatson" routerLinkActive="active">What's On</a></li>
      <li><a class="main-nav-text" routerLink="/schedule" routerLinkActive="active">Schedule</a></li>
      <li> <a class="main-nav-text" routerLink="/stalls" routerLinkActive="active">Charities and Stalls</a></li>
      <li> <a class="main-nav-text" routerLink="/gallery" routerLinkActive="active">Gallery</a></li>      
      <li> <a class="main-nav-text" routerLink="/findus" routerLinkActive="active">Find Us</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://www.facebook.com/burleyfestival/" target="_blank" class="social-media"> <i
            class="fab fa-facebook-square"></i></a></li>
      <li> <a href="https://twitter.com/burleyfestival" target="_blank" class="social-media"> <i
            class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.instagram.com/burleysummerfestival/" target="_blank" class="social-media"> <i
            class="fab fa-instagram"></i></a></li>
      <li><a href="mailto:burleydogshow@gmail.com" class="social-media"> <i class="fa fa-envelope"></i></a></li>
    </ul>
    <ul class="right hide-on-large-only small-nav">
      <li><a class="menu-dropdown-trigger small-nav" data-target="menu-dropdown">
          <i class="material-icons right small-nav">menu</i>Menu</a>
      </li>
    </ul>
  </div>
</nav>

<ul id='menu-dropdown' class='dropdown-content'>
  <li> <a class="side-nav-text" routerLink="/home" routerLinkActive="active">Home</a></li>
  <li> <a class="side-nav-text" routerLink="/whatson" routerLinkActive="active">What's On</a></li>
  <li><a class="side-nav-text" routerLink="/schedule" routerLinkActive="active">Schedule</a></li>
  <li> <a class="side-nav-text" routerLink="/stalls" routerLinkActive="active">Charities and Stalls</a></li>
  <li> <a class="side-nav-text" routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
  <li> <a class="side-nav-text" routerLink="/findus" routerLinkActive="active">Find Us</a></li>
  <li> <a class="side-nav-text" routerLink="/links" routerLinkActive="active">Useful Links</a></li>
</ul> 