$primary: #F5832C;
$primary-color: color("lighten-2", "lighten-2");

@import url('../node_modules/materialize-css/dist/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #cceffb;
}
