@import url('../node_modules/materialize-css/dist/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$break-small: 600px;
$break-large: 991px;

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #cceffb;
}

.title {
    color: #f43467;
    text-shadow: 0.108vw 0.156vw 0px #544258;
    font-size: 40px;
    font-family: Roboto;
    @media only screen and (min-width: $break-small) {
        font-size: 50px;
    };
    @media only screen and (min-width: $break-large) {
        font-size: 70px;
    }
}

.secondary-title {
    font-weight: bold;
    color: #F5832C;
    text-shadow: 0.108vw 0.156vw 0px #544258;
    font-size: 35px;
    font-family: Roboto;
    @media only screen and (min-width: $break-small) {
        font-size: 40px;
    }
    @media only screen and (min-width: $break-large) {
        font-size: 60px;
    }
}

.information {
    color: #544258;
    font-size: 20px;
    font-family: Roboto;
    @media only screen and (max-width: $break-small) {
        font-size: 15px;
    }
}

.information-home {
    color: #544258;
    font-size: 30px;
    font-family: Roboto;
    @media only screen and (max-width: $break-small) {
        font-size: 25px;
    }
}

.information-title{
    text-decoration: underline;
    font-weight: bold;
    color: #f43467;
}

.custom-card{
    border-radius: 40px;
    background-color: #e8f0f3;    
}

.info-button{
    border-radius: 40px;
    background-color: #544258; 
    color: #e8f0f3;
    &:hover {
        background-color: #896b90;
      }
}