<div class="row center-align">
  <div class="col s12 title">
    Burley-in-<span class="woof">Woof</span>dale
  </div>
  <div class="col s12 secondary-title">
    Fun Dog Show
  </div>

  <div class="container">
    <div class="col s12 m6">
      <div class="card-panel custom-card">
        <span class="card-content information">
          Saturday 17th August<br />
          10am - 2pm<br />
          Recreational ground<br />
          <button class="waves-effect waves-light btn info-button" routerLink="/findus"><i
              class="material-icons left">directions_walk</i>Find us</button>
        </span>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card-panel custom-card">
        <span class=" information">
          Classes, Games,<br />
          Stalls, Prizes &<br />
          Refreshments<br />
          <button class="waves-effect waves-light btn info-button" routerLink="/dogshow"><i
              class="material-icons left">info_outline</i>More Info</button>
        </span>
      </div>
    </div>
  </div>
  
</div>