.title{
    color: #f43467;
    text-shadow: 0.108vw 0.156vw 0px #544258;
    font-size:5vw;
    font-family: Indie Flower;
}

.woof{
    color: #F5832C;
}

.secondary-title{
    color: #F5832C;
    text-shadow: 0.108vw 0.156vw 0px #544258;
    font-size:5vw;
    font-family: Indie Flower;
}

.information{
    color: #544258;
    font-size:3vw;
    font-family: Indie Flower;
}