<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="title">
        Burley-in-<span class="woof">Woof</span>dale
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12">
      <div class="secondary-title">
        Dog Show
      </div>
    </div>
  </div>

  <div class="row">
  <div class="information">
    Saturday 18th August
  </div>
</div>
  <div class="row">
    <div class="information">
      Recreational ground
    </div>
  </div>
  <br />
  <div class="row">
    <button class="btn btn-primary btn-lg">Find out more</button>
  </div>
</div> 