$break-small: 600px;

.home-photo{
    border:4px solid #544258;
    max-width: 100%;
    border-radius: 40px;
    max-height: 540px;
}

.information-home {
    color: #544258;
    font-size: 30px;
    font-family: Roboto;
    @media only screen and (max-width: $break-small) {
        font-size: 25px;
    }
}

.sponsor{
    padding: 5px;
    font-size: 25px;
    border: 1px solid #544258;
    margin: 10px;
    border-radius: 20px;
    color: #544258;
    font-weight: normal;
    &:hover {
        background-color: #544258;
        color: white;
        cursor: pointer;
      }
  }
