<div class="row center-align">

  <div class="col s12 secondary-title">
    £1.50 per class <br/>
    Rosettes awarded to 4th place.
  </div>

  <div class="container">
    <div class="col s12">
      <div class="card-panel custom-card">
        <span class="card-content information">
          Why not enter your furry friend in a class? This year we are running the following classes: <br/>
          Golden Oldies, Young Handlers, Cheekiest Puppies, Best Rescue, Waggiest Tail, Best Trick,
          Handsomest Dog, Prettiest Female and Dog The Judge Wants To Take Home.
         <br />
          <button class="waves-effect waves-light btn info-button" routerLink="/schedule"><i
              class="material-icons left">event_note</i>Schedule</button>
        </span>
      </div>
    </div>
  </div>

</div>