<div class="row center-align">

  <div class="col s12 secondary-title">
    Classes
  </div>

  <div class="container">
    <div class="col s12">
      <div class="card-panel custom-card z-depth-2">
        <span class="card-content information">
          Why not enter your furry friend in a class and prove they are the best in the village? Classes are £1.50 per
          entry, with rosettes and prizes
          awarded up to 4th place.
        </span>
      </div>
    </div>
    <div class="col s12">
      <div class="card-panel custom-card z-depth-2">
        <span class="card-content information">
          <span class="information-title">This year we are holding the following classes</span>
          <br />
          Golden Oldies, Young Handlers, Cheekiest Puppies, Best Rescue,
          Waggiest Tail, Best Trick, Handsomest Dog, Prettiest Female and Dog The Judge Wants To Take Home.
          <br />
          Please check the schedule to ensure you dont miss a class. Registration open all day from 10:15.
        </span>
      </div>
    </div>
  </div>

</div>